Debug/
Build/
KiNomet/rawfile*
x64
*/bin/*
*/obj/*
.vs
KinometWindows\frame*
*.bin
/gba/*
*.d
*.o
*.obj
/.git
/./vs
/Debug/
/packages/
KiNomet/Debug/KiNomet.Build.CppClean.log
*.tlog
*.recipe
*.log
KiNomet/Debug/KiNomet.vcxproj.FileListAbsolute.txt
KinometWindows/audio_outputmain.cpp
KinometWindows/audio_outputmain.h
KinometWindows/Debug/KinometWindows.tlog/CL.114192.write.1.tlog
KinoMetSnes/VideoFile.cpp
KinoMetSnes/VideoFile.h
