Debug/
Build/
KiNomet/rawfile*
x64
*/bin/*
*/obj/*
.vs
KinometWindows\frame*
*.bin
/gba/*
*.d
*.o
*.obj
/.git
/./vs
/Debug/
/packages/
KiNomet/Debug/KiNomet.Build.CppClean.log
*.tlog
*.recipe
*.log
KiNomet/Debug/KiNomet.vcxproj.FileListAbsolute.txt
KinometWindows/audio_outputmain.cpp
KinometWindows/audio_outputmain.h
KinometWindows/Debug/KinometWindows.tlog/CL.114192.write.1.tlog
KinoMetSnes/VideoFile.cpp
KinoMetSnes/VideoFile.h
KinoMetGBA/audio_outputmain.cpp
KinoMetGBA/audio_outputmain.cpp
KinoMetGBA/audio_outputmain.h
KinoMetGBA/audio_outputmain.raw
KinoMetGBA/KiNoMet_gba.cpp
KinoMetGBA/KinometGBA.elf
KinoMetGBA/KinometGBA.gba
KinoMetGBA/KinoMetGBA.sav
KinoMetGBA/KinoMetGBA.zip
KinoMetGBA/linker.lsc
KinoMetGBA/VideoFile.cpp
KinoMetGBA/VideoFile.h
KinoMetSnes/audio_outputmain.cpp
KinoMetSnes/audio_outputmain.h
KinoMetSnes/KinoMetGBA.elf.til
KinoMetSnes/KinoMetGBA.sav
KinometWindows/audio_outputmain.raw
KinometWindows/Debug/KinometWindows.tlog/CL.114192.write.1.tlog
KinometWindows/KinometWindows.vcxproj
KinometWindows/VideoFile.cpp
KinometWindows/VideoFile.h
KinometWindows/videoplayback.mp4
